

/*Body/////////////////////////*/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;  
}

input, button, textarea {
   font: 20px Raleway;/*tym pozbyłam się stylowania domyślnego Arialem dla przycisków i pól. Hurra! :) */
    border-width: 0;
}

a {
    text-decoration: none;
}

h4 {
    text-transform: uppercase;
    font-size: 40px;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 0.5em;
    }

h5 {
    text-transform: uppercase;
    font-size: 26px;
    margin-left: 80px;
    margin-top: 20px;
}

h6 {
    font-size: 16px;
}



 /*Header//////////////////////*/
header {
    background-color: black;
    width: 100%;
    height: 41px;
    text-transform: uppercase;
}
header >article {
    color:white;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    margin-left: 80px;
    text-transform: uppercase;
}
article >span {
    color: #23ba9c;
    font-weight: 600;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    color: white;
    width: 500px;
    vertical-align: middle;
    line-height: 40px;
    float: right; /*ułożenie listy w poziomie*/
}

ul.main_menu > li {
    display: inline-block;
    margin-left: 19px;
    position: relative;
    height: 30px;
    }



ul > li > a {
    padding: 10px;
    color: white;
    border-bottom: 1px solid black;
    border-top: 1px solid #3c3c3c;
}

.triangle{
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 13px 13px 13px;
border-color: transparent transparent black transparent;
margin: 0 auto;
margin-top: -1px;
}

ul.sub_menu {
    display: none; 
    padding: 0;
    width: 110px;
    position: absolute;
    top:30px;
    text-align: center;
    background-color: white;
    color: #f7f7f7;
    margin-top: 13px;
}

ul li:hover > ul {
    display: block;
}

ul.sub_menu > li {
    display: block;
    text-transform: capitalize;
    background-color: black;
}

li:first-child {
border-top: none;
}
 
li:last-child {
   border-bottom: none;
}



/*Article 1//////////////////////*/
.article_1 {
    width: 100%;
    height: 504px;
    background-color: #f7f7f7;
    background-image: linear-gradient(180deg, #f7f7f7, #d1d0d6);

}

.article_1 >img {
    height: 341px;
    right: auto; 
    margin-left: 100px;
    margin-top: 90px;
    
    
}
.article_1 > section {
    width: 474px;
    height: 341px;
    display: inline-block;
    text-align: center;
    float: right; 
    margin-right: 290px;
    margin-top: 140px;
}

h4 > span {
    color: #23ba9c;
    font-weight: 600; 
}

.article_1 > p {
    font-size: 14px;
    display: inline-block;
    width: 170px;
}

.article_1 section > button {
    background-color: #23ba9c;
    color: white;
    text-transform: uppercase;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    width: 60%;
    height: 60px;
    padding: 10 10 10 10;
    font-size: 24px;
    box-shadow: none;
    margin-top: 25px;
}

/*Article 2//////////////////////*/
.clearfix:after { content: " "; display: block; clear: both; }

.article_2 {
    width: 98%;
    height: 320px;
    padding: 10px;

}
.in_article_2 {
    width: 329px;
    height: 225px;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 75px;
}

.in_article_2 > div {
    height: 50px;
    display: block;
    z-index: 2;
    position: relative;
    margin-top: 160px;
    background: rgb( 244,244,244);
    background-color: rgba( 244,244,244, 0.5);
}

h6 {
    color: black;
    font-weight: 600;
    height: 16px; 
    padding-top: 8px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.in_article_2 > img {
    position: absolute;
    z-index: 1;
}
.line{
    border-bottom-color: #28b89d;
    border-bottom-style: solid;
    border-bottom-width: thick;
    width: 43%;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.in_article_2 p:nth-child(1) {
    font-weight: 600;
    color: black;
   
}
.in_article_2 p {
    margin-left: 10px;
    margin-right: 10px;
    color: gray;
}

/*Article 3//////////////////////*/
.line2 {
    border-bottom-color: #28b89d;
    border-bottom-style: solid;
    border-bottom-width: thick;
    width: 25%;
    margin-top: 5px;
    margin-left: 80px;  
}
/*bacground-color:#26c7a9*/
/*color c7c7c7*/
/*zakup towaru color #949494
serwis #8c8c8c

*/
/*Article 4//////////////////////*/
article_4{
    height: 600px;
    width: 100%;
   
}
fieldset, fieldset > p {
    display: inline-block;
    color: #c4c4c4;
}
fieldset > p {
    font-size: 20px;
    margin-top: 50px;  
}

input, textarea, placeholder {
    font-size: 33px;
    width: 650px;
    margin-bottom: 30px;
    margin-left: 80px;
    border: 1px solid #23ba9c;
}
input {
     height: 70px;
}
textarea {
     height: 210px;
}
.fieldset_1{
    height: 300px;
    width: 50%;
}
.fieldset_2 {
    height: 300px; 
    width: 35%; 
    float: right;
    margin-right: 60px;
}
fieldset img:nth-child(3) {
    border: 1px solid #23ba9c;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 50px;
    padding: 3px 3px 3px 0;
}
fieldset button  {
    background-color: #23ba9c; 
    font-size: 34px;
    color: white;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    width: 70%;
    height: 60px;
    padding: 10 10 10 10;
    margin-top: 40px;
    float:left;
    text-transform: uppercase;  
}

/*FOOTER//////////////////////*/
footer {
    font-size: 20px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
footer >p >span {
    font-weight: 700;
}

footer > p, footer > section {
    display: inline-block;
    margin: 0 auto;
    width: auto;
    color: #c4c4c4;
}
footer > p {
    margin-left: 80px;
}
footer > section {
    margin-left: 250px;
}

